* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  color: #333;
  font-family: sans-serif;
  font-size: .9em;
  font-weight: 300;
  text-align: left;
  line-height: 40px;
  border-spacing: 0;
  border: 2px solid #975997;
  width: 500px;
  margin: 50px auto;
}

thead tr:first-child {
  background: #975997;
  color: #fff;
  border: none;
}

th {font-weight: bold;}
th:first-child, td:first-child {padding: 0 15px 0 20px;}

thead tr:last-child th {border-bottom: 3px solid #ddd;}

tbody tr:hover {background-color: #ffeeff;}
tbody tr:last-child td {border: none;}
tbody td {border-bottom: 1px solid #ddd;}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

.button {
  color: #696969;
  padding-right: 5px;
  cursor: pointer;
}

.alterar:hover {
  color: #0a79df;
}

.excluir:hover {
  color: #dc2a2a;
}
