.terminal {
  float: left;
  border: #000 solid 5px;
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 16px;
  line-height: 16px;
  color: #f0f0f0;
  background: #000;
}
.terminal-cursor {
  color: #000;
  background: #f0f0f0;
}
html, body {
  height: 100%;
}
body {
  background-color: #555;
  background: url("wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  margin: 0;
}

div.CodeMirror {
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*::-webkit-scrollbar {
  background-color: rgba(100,100,100,0.05);
  width: 1em;
  height: 1em;
}
::-webkit-scrollbar-thumb {
  border: solid 3px transparent;
  box-shadow: inset 0 0 0 .1em rgba(128, 128, 128, 0.2), inset 0 0 .7em .2em rgba(128, 128, 128, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 0 .1em rgba(128, 128, 128, 0.8), inset 0 0 .7em .2em rgba(128, 128, 128, 0.8);
}*/

pre.command, pre.output, input.command {
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", "Liberation Mono", monospace;
  line-height: 1em;
  font-size: 16px;
  padding: 6px;
  margin: 0;
  box-sizing: border-box;
}
pre.command, input.command {
  color: #edf;
  background-color: #333;
}
input.command {
  border: 0;
  width: 100%;
}
