.terminal {
  float: left;
  border: #000 solid 5px;
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 11px;
  color: #f0f0f0;
  background: #000;
}
.terminal-cursor {
  color: #000;
  background: #f0f0f0;
}
body {
  background-color: #555;
  background: url("wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  margin: 0;
}
